page-user-trip {
    .xc-box{
        background-image: url('../assets/imgs/noData.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        width: 46%;
        height: 35%;
        display: flex;
        justify-content:center;
        align-items:Center;
        margin-top: 50%
    }
    .title {
        text-align: center;      
        font-size: 14px;
        height: 70px;
        // background-color: #4b6286;
        background-color: #2d3d54;
        width: 100%;
        color: #FFFFFF;
        padding-top: 40px;
    }
}
